*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    /*background-color: black;*/
    background-image: url("/back2.jpg");
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    height: 80vh;
    
}
h1{
    padding-top:  10px;
    color:blanchedalmond;
    font-style: italic;
}

input{
    margin: 30px;
    background-color:  rgba(18, 18, 18, 0.4);
    color: white;
    font-size: 16px;
   padding: 15px;
   width: 210px;
   border-radius: 10px;
   border: 1px solid deepskyblue;
   border-bottom: 3px solid darkred;
}

.container{
    margin-top: 5%;
    backdrop-filter: blur(3px);
    border: 2px solid white;
    padding: 2% 10% 5% 10%;
    border-radius: 20px;
}

main {
    flex: 1 1 100%;
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .location .city {
    color: #eeeeee;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .location .date {
    color: #eeeeee;
    font-size: 16px;
  }
  .current .temp {
    color: #eeeeee;
    font-size: 80px;
    font-weight: 900;
    margin: 20px 0;
    text-shadow: 1px 4px rgba(0, 0, 0, 0.5);
  }
  .current .temp span {
    font-weight: 200;
  }
  .current .weather {
    color: #eeeeee;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.4);
  }
  .current .hi-low {
    color: #eeeeee;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 3px rgba(0, 0, 0, 0.4);
  }